.jumbotron {
  background-color: #fff;
  color: white;
  margin-top: 40px;
  margin-bottom: 0px;
  background-image: url("../images/playa2.JPG");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover; }

.card-hotel {
  padding: 10px 0 10px 0; }

.card-tarjetas {
  padding: 10px 0 10px 0; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #d6d13b;
  margin-top: 10px;
  margin-bottom: 0px; }

.tab-content {
  padding-top: 10px; }
