@yellow: #ede510;

.margenes(@top: 0px, @bottom: 0px) {
  margin-top: @top;
  margin-bottom: @bottom;
}
.jumbotron {
  background-color: #fff;
  color: white;
  .margenes(50px, 0px);
  background-image: url("../images/playa2.JPG");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover; }

.card-hotel {
  padding: 10px 0 10px 0; }

.card-tarjetas {
  padding: 10px 0 10px 0; }

footer {
  padding: 10px 10px 0 10px;
  background-color: @yellow;
  .margenes(10px, 0px);
}

.tab-content {
  padding-top: 10px; }
